@import "styles/variables";

.btn {
  cursor: pointer;
  display: inline-block;
  color: $black;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s $ease;
  border: 1px solid transparent;
  height: 40px;
  line-height: 22px;
  > a {
    color: $black;
    text-decoration: none;
  }
}

@mixin colorize($color) {
  background-color: $color;

  &:hover {
    color: $color;
    background-color: $white;
    border: 1px solid $color;
  }
}

.primary {
  @extend .btn;
  @include colorize($curiousBlue);
}

.secondary {
  @extend .btn;
  color: $white;
  @include colorize($black);
}

.danger {
  @extend .btn;
  @include colorize($danger);
}

.success {
  @extend .btn;
  @include colorize($success);
}

.link{
  @extend .btn;
  color: $link;
  text-decoration: underline;
  background-color: transparent;
  &:hover {
    color: $link;
    text-decoration-thickness: 3px;
    border: 1px solid transparent;
  }
}