@import "styles/variables";
@import "styles/atoms/mixins";

.main-user-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #F1F2F4;
    border-radius: 5px;

    .user-card-info {
        display: flex;
        align-items: center;
    }

    .user-card-avatar {
        &__container {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: $black;
            margin-right: 0.5rem;
        }
    }

    .user-card-details {
        &__pseudo {
            margin: 0;
        }
    }
}