/*
* COLORS
*/

$black: #000000;
$white: #FFFFFF;
$easternBlue:#2596BE;
$curiousBlue:#1CB5E5;
$cinnabar:#E43C34;
/*
* FONTS
*/

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size: 16px;

// Easings
$ease: ease-in-out;
$bezier: cubic-bezier(0.175, 0.885, 0.32, 1.275);

/*
* BREAKPOINTS
*/

$large: 1400px;
$desktop: 1280px;
$medium: 1124px;
$tablet: 860px;
$small: 600px;
$phone: 400px;